@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");

@import url("https://fonts.googleapis.com/css?family=Raleway:regular,700");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PNBJ";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-SemiBold.woff2") format("woff2"), url("../fonts/PostNoBillsJaffna-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-ph:before {
  content: "\e902";
}

._icon-tel:before {
  content: "\e903";
}

._icon-vk:before {
  content: "\e904";
}

._icon-yt:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  background: #242b33;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.form__error {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ff0000;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  padding: 0px 20px;
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input._focus {
  -webkit-box-shadow: 0 0 10px #d4c17f;
          box-shadow: 0 0 10px #d4c17f;
}

.input._error {
  -webkit-box-shadow: 0 0 10px #ff0000;
          box-shadow: 0 0 10px #ff0000;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 54px;
  background-color: #d4c17f;
  font-weight: 700;
  font-size: 16px;
  line-height: 168.75%;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-family: PlayfairDisplay;
  font-weight: 700;
  font-size: 36px;
  line-height: 133.3333333333%;
  color: #d4c17f;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(36, 43, 51, 0.8);
}

.header._scroll .header__container {
  padding: 0px 15px 0px;
  height: 85px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  hight: 96px;
}

.header__logo {
  color: inherit;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__title {
  font-family: PNBJ;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
}

.header__sub-title {
  font-size: 12px;
  line-height: 116.6666666667%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.header__menu {
  position: relative;
  z-index: 5;
}

.menu__link {
  color: inherit;
  line-height: 114.2857142857%;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/*
//Burger

*/

.footer {
  background: #2d343c;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto 30px auto 30px auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
      grid-template-areas: "logo men info";
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__title {
  font-family: PNBJ;
  font-weight: 600;
  font-size: 36px;
}

.footer__title:not(:last-child) {
  margin-bottom: 10px;
}

.footer__sub-title {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
}

.footer__menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: men;
}

.footer__info {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: info;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.footer__info > * {
  margin-bottom: 15px;
}

.footer__phone {
  display: block;
}

.footer__email {
  display: block;
  color: #d4c17f;
}

.footer__email span {
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.footer__social a {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__social a:not(:last-child) {
  margin-right: 20px;
}

.menu-footer__item {
  margin-bottom: 15px;
}

.menu-footer__link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.mainscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 840px;
}

.mainscreen__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen__image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainscreen__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100.25%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33));
  background: -o-linear-gradient(top, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%);
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%);
  z-index: 2;
}

.mainscreen__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 582px;
          flex: 0 1 582px;
  padding-top: 96px;
  z-index: 2;
}

.mainscreen__title {
  margin-top: 200px;
  font-size: 48px;
  line-height: 133.3333333333%;
  margin-bottom: 100px;
}

.mainscreen__mouse {
  display: none;
  visibility: hidden;
}

.mainscreen__contact {
  display: -ms-grid;
  display: grid;
  font-size: 18px;
  line-height: 21px;
}

.mainscreen__address {
  grid-area: address;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainscreen__phone {
  grid-area: phone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mainscreen__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  width: 21px;
  height: 21px;
  margin-right: 15px;
}

.testimonials {
  position: relative;
  margin-top: 744px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.testimonials__number {
  position: absolute;
  top: calc(-50px + 50 * ((100vw - 414px) / 1506));
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 400px;
  font-family: PlayfairDisplay;
  font-weight: 700;
  line-height: 133.25%;
  opacity: 0.02;
  z-index: 2;
}

.testimonials__number span {
  margin-right: calc(-250px + 510 * ((100vw - 414px) / 1506));
}

.testimonials__container {
  max-width: 800px;
}

.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.testimonials__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 15px;
}

.testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-testimonial__icon {
  margin-bottom: 53px;
}

.item-testimonial__text {
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
}

.appartments {
  position: relative;
}

.appartments__number {
  position: absolute;
  top: -60px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 400px;
  font-family: PlayfairDisplay;
  font-weight: 700;
  line-height: 133.25%;
  opacity: 0.02;
  z-index: 2;
}

.appartments__number span {
  margin-left: calc(-250px + 510 * ((100vw - 414px) / 1506));
}

.appartments__title:not(:last-child) {
  margin-bottom: 100px;
}

.appartments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.appartments__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 15px;
}

.appartments__column:not(:nth-child(-n+2)) {
  margin-top: 30px;
}

.item-appartment {
  position: relative;
  display: block;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-appartment__image {
  height: 320px;
}

.item-appartment__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: -o-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242b33 100%);
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}

.item-appartment__name {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 24px;
  line-height: 116.6666666667%;
  z-index: 2;
}

.look {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  height: 560px;
}

.look__container {
  height: 100%;
}

.look__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.look__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9)));
  background: -o-linear-gradient(top, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), -o-linear-gradient(bottom, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
  width: 100%;
  height: 100%;
  z-index: 2;
}

.look__items {
  position: relative;
  z-index: 2;
}

.look__title:not(:last-child) {
  margin-bottom: 50px;
}

.look__text {
  font-size: 16px;
}

.look__name {
  position: relative;
  grid-area: name;
}

.look__phone {
  position: relative;
  grid-area: phone;
}

.look__btn {
  grid-area: btn;
}

.look__sub-text {
  grid-area: sub-text;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  line-height: 123.0769230769%;
}

.video {
  position: relative;
  margin-bottom: 180px;
}

.video__number {
  position: absolute;
  top: calc(-50px + 50 * ((100vw - 414px) / 1506));
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 400px;
  font-family: PlayfairDisplay;
  font-weight: 700;
  line-height: 133.25%;
  opacity: 0.02;
  z-index: 2;
}

.video__number span {
  margin-right: calc(-250px + 510 * ((100vw - 414px) / 1506));
}

.video__body {
  width: 720px;
  height: 650px;
  margin: 0 auto;
}

.video__body iframe {
  width: 100%;
  height: 100%;
}

.map {
  padding-bottom: 180px;
}

.map__title {
  margin-bottom: 100px;
}

.map__body {
  margin: 0 auto;
  width: 1110px;
  height: 358px;
}

.questions {
  padding-bottom: 180px;
}

.questions__title {
  margin-bottom: 50px;
}

.questions__name {
  position: relative;
  grid-area: name;
}

.questions__phone {
  position: relative;
  grid-area: phone;
}

.questions__btn {
  grid-area: btn;
}

.questions__sub-text {
  grid-area: sub-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 13px;
  line-height: 123.0769230769%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 479.98px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .look__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 35px 50px;
    grid-template-rows: 50px 50px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 35px;
        grid-template-areas: "name phone" "sub-text btn";
  }

  .look__btn button {
    padding: 0px 0px;
    width: 100%;
    height: 100%;
  }

  .questions__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 35px 50px;
    grid-template-rows: 50px 50px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 35px;
        grid-template-areas: "name phone" "sub-text btn";
  }

  .questions__btn button {
    padding: 0px 0px;
    width: 100%;
    height: 100%;
  }

  .mainscreen__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__form > .mainscreen__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .look__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .questions__form > .look__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .look__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__form > .look__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .look__btn {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .questions__form > .look__btn {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .look__sub-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .questions__form > .look__sub-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .questions__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .questions__form > .questions__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .questions__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__form > .questions__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__btn {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .questions__form > .questions__btn {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .questions__sub-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .questions__form > .questions__sub-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 40px;
  }

  .mainscreen__mouse {
    display: block;
    visibility: visible;
    margin-bottom: 200px;
  }

  .mainscreen__contact {
    -ms-grid-columns: auto 100px auto;
    grid-template-columns: auto auto;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
        grid-template-areas: "address phone";
  }

  .mainscreen__address {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .mainscreen__contact > .mainscreen__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .mainscreen__contact > .look__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .mainscreen__contact > .questions__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu-footer__body:not(:last-child) {
    margin-right: 100px;
  }

  .look__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -15px;
  }

  .look__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 15px;
  }

  .questions__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 50px;
    grid-template-rows: 50px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 35px;
        grid-template-areas: "sub-text name phone btn";
  }

  .questions__form > .mainscreen__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .questions__form > .look__name {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__form > .look__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .questions__form > .look__btn {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .questions__form > .look__sub-text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .questions__form > .questions__name {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .questions__form > .questions__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .questions__form > .questions__btn {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .questions__form > .questions__sub-text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1152px) {
  .testimonials__number {
    top: 0;
  }
}

@media (max-width: 1152px) {
  .testimonials__number span {
    margin-right: 0;
  }

  .appartments__number span {
    margin-left: 0;
  }

  .video__number {
    top: calc(-100px + 100 * ((100vw - 414px) / 1506));
  }

  .video__number span {
    margin-right: 0;
    padding-right: 0px;
  }
}

@media (max-width: 1152px) and (max-width: 1140px) {
  .video__number span {
    padding-right: calc(200px + -200 * ((100vw - 414px) / 726));
  }
}

@media (max-width: 1140px) {
  .title {
    font-size: calc(26px + 10 * ((100vw - 414px) / 726));
  }

  .header__container {
    hight: calc(68px + 28 * ((100vw - 414px) / 726));
  }

  .header__title {
    font-size: calc(18px + 18 * ((100vw - 414px) / 726));
  }

  .header__sub-title {
    font-size: calc(7px + 5 * ((100vw - 414px) / 726));
  }

  .footer {
    padding-top: calc(40px + 20 * ((100vw - 414px) / 726));
  }

  .footer {
    padding-bottom: calc(40px + 10 * ((100vw - 414px) / 726));
  }

  .mainscreen {
    height: calc(435px + 405 * ((100vw - 414px) / 726));
  }

  .mainscreen__content {
    padding-top: calc(68px + 28 * ((100vw - 414px) / 726));
  }

  .mainscreen__title {
    margin-top: calc(106px + 94 * ((100vw - 414px) / 726));
  }

  .mainscreen__title {
    font-size: calc(28px + 20 * ((100vw - 414px) / 726));
  }

  .mainscreen__title {
    margin-bottom: calc(80px + 20 * ((100vw - 414px) / 726));
  }

  .testimonials {
    margin-top: calc(367px + 377 * ((100vw - 414px) / 726));
  }

  .testimonials {
    padding-top: calc(80px + 40 * ((100vw - 414px) / 726));
  }

  .testimonials {
    padding-bottom: calc(70px + 50 * ((100vw - 414px) / 726));
  }

  .testimonials__number {
    font-size: calc(170px + 230 * ((100vw - 414px) / 726));
  }

  .item-testimonial__icon {
    margin-bottom: calc(20px + 33 * ((100vw - 414px) / 726));
  }

  .item-testimonial__text {
    font-size: calc(16px + 4 * ((100vw - 414px) / 726));
  }

  .appartments__number {
    font-size: calc(170px + 230 * ((100vw - 414px) / 726));
  }

  .appartments__title:not(:last-child) {
    margin-bottom: calc(30px + 70 * ((100vw - 414px) / 726));
  }

  .appartments__column:not(:nth-child(-n+2)) {
    margin-top: calc(15px + 15 * ((100vw - 414px) / 726));
  }

  .item-appartment__image {
    height: calc(210px + 110 * ((100vw - 414px) / 726));
  }

  .item-appartment__name {
    bottom: calc(26px + 24 * ((100vw - 414px) / 726));
  }

  .item-appartment__name {
    left: calc(30px + 20 * ((100vw - 414px) / 726));
  }

  .item-appartment__name {
    font-size: calc(18px + 6 * ((100vw - 414px) / 726));
  }

  .look {
    padding-top: calc(70px + 110 * ((100vw - 414px) / 726));
  }

  .look {
    padding-bottom: calc(70px + 110 * ((100vw - 414px) / 726));
  }

  .look {
    height: calc(601px + -41 * ((100vw - 414px) / 726));
  }

  .look__title:not(:last-child) {
    margin-bottom: calc(10px + 40 * ((100vw - 414px) / 726));
  }

  .look__text {
    font-size: calc(14px + 2 * ((100vw - 414px) / 726));
  }

  .look__sub-text {
    font-size: calc(11px + 2 * ((100vw - 414px) / 726));
  }

  .video {
    margin-bottom: calc(110px + 70 * ((100vw - 414px) / 726));
  }

  .video__number {
    font-size: calc(170px + 230 * ((100vw - 414px) / 726));
  }

  .video__body {
    width: calc(281px + 439 * ((100vw - 414px) / 726));
  }

  .video__body {
    height: calc(254px + 396 * ((100vw - 414px) / 726));
  }

  .map {
    padding-bottom: calc(80px + 100 * ((100vw - 414px) / 726));
  }

  .map__title {
    margin-bottom: calc(52px + 48 * ((100vw - 414px) / 726));
  }

  .map__body {
    width: calc(281px + 829 * ((100vw - 414px) / 726));
  }

  .map__body {
    height: calc(220px + 138 * ((100vw - 414px) / 726));
  }

  .questions {
    padding-bottom: calc(95px + 85 * ((100vw - 414px) / 726));
  }

  .questions__title {
    margin-bottom: calc(40px + 10 * ((100vw - 414px) / 726));
  }

  .questions__sub-text {
    font-size: calc(11px + 2 * ((100vw - 414px) / 726));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header._scroll .header__container {
    height: 75px;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 30px auto 30px auto;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
        grid-template-areas: "logo" "men" "info";
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-footer__body {
    margin-right: 50px;
  }

  .look__body {
    margin-bottom: 50px;
  }

  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__menu {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__info {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}

@media (max-width: 991.98px) and (max-width: 1140px) {
  .look__body {
    margin-bottom: calc(40px + 10 * ((100vw - 414px) / 726));
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 5px;
  }

  .header._scroll .header__container {
    height: 68px;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    max-height: 100%;
    background-color: #242b33;
    overflow: auto;
    -webkit-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36);
            box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36);
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    padding: 40px 15px 40px;
    padding-top: 136px;
    text-align: center;
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 96px;
    background-color: #242b33;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    z-index: 5;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body._active::before {
    top: 0;
  }

  .menu__list > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 20px;
    line-height: 120%;
  }

  .icon-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 21px;
    height: 15px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    right: 0;
    position: absolute;
    width: 70%;
    height: 1px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    width: 100%;
    top: 0px;
  }

  .icon-menu span:last-child {
    width: 100%;
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .mainscreen__image::before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.78)), to(rgba(36, 43, 51, 0.78)));
    background: -o-linear-gradient(top, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), -o-linear-gradient(bottom, rgba(36, 43, 51, 0.78), rgba(36, 43, 51, 0.78));
    background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), linear-gradient(0deg, rgba(36, 43, 51, 0.78), rgba(36, 43, 51, 0.78));
  }

  .mainscreen__contact {
    -ms-grid-rows: auto 15px auto;
    grid-template-rows: auto auto;
    row-gap: 15px;
        grid-template-areas: "phone" "address";
  }

  .testimonials__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .testimonials__column:not(:nth-child(-n+2)) {
    margin-top: 50px;
  }

  .appartments__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .appartments__column:not(:nth-child(1)) {
    margin-top: 30px;
  }

  .mainscreen__contact > .mainscreen__address {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .mainscreen__contact > .mainscreen__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .mainscreen__contact > .look__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .mainscreen__contact > .questions__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media (max-width: 767.98px) and (max-width: 1140px) {
  .menu__body {
    padding-top: calc(108px + 28 * ((100vw - 414px) / 726));
  }

  .menu__body::before {
    min-height: calc(68px + 28 * ((100vw - 414px) / 726));
  }

  .testimonials__column:not(:nth-child(-n+2)) {
    margin-top: calc(30px + 20 * ((100vw - 414px) / 726));
  }

  .appartments__column:not(:nth-child(1)) {
    margin-top: calc(15px + 15 * ((100vw - 414px) / 726));
  }
}

@media (max-width: 479.98px) {
  .menu-footer__body {
    margin-right: 0px;
  }

  .look__form {
    margin: 0 auto;
    width: 255px;
    max-height: 50px;
  }

  .look__name {
    margin-bottom: 15px;
  }

  .look__phone {
    margin-bottom: 25px;
  }

  .look__btn {
    margin-bottom: 10px;
  }

  .look__btn button {
    padding: 12px 30px;
    width: 100%;
  }

  .map__body {
    width: calc(100% - 120px);
    margin: 0px 60px;
  }

  .questions__form {
    margin: 0 auto;
    width: 255px;
  }

  .questions__name {
    margin-bottom: 15px;
  }

  .questions__phone {
    margin-bottom: 25px;
  }

  .questions__btn {
    margin-bottom: 10px;
  }

  .questions__btn button {
    padding: 12px 30px;
    width: 100%;
  }
}

@media (min-width: 767.98px) and (max-width: 1140px) {
  .menu__item:not(:last-child) {
    margin-right: calc(20px + 20 * ((100vw - 414px) / 726));
  }

  .mainscreen__mouse {
    margin-bottom: calc(80px + 120 * ((100vw - 414px) / 726));
  }
}

@media (min-width: 991.98px) and (max-width: 1140px) {
  .menu-footer__body:not(:last-child) {
    margin-right: calc(-30px + 130 * ((100vw - 414px) / 726));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #7e7143;
  }

  .header._scroll .header__wrapper:hover {
    background-color: rgba(36, 43, 51, 0.95);
  }

  .header__logo:hover {
    color: #d4c17f;
  }

  .menu__link:hover {
    color: #d4c17f;
  }

  .footer__logo:hover {
    color: #d4c17f;
  }

  .footer__phone:hover {
    text-decoration: underline;
  }

  .footer__email:hover {
    text-decoration: underline;
  }

  .footer__social a:hover {
    color: #d4c17f;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .mainscreen__address:hover {
    color: #d4c17f;
  }

  .mainscreen__phone:hover {
    color: #d4c17f;
  }

  .item-appartment:hover {
    color: #d4c17f;
  }

  .item-appartment:hover .item-appartment__image::before {
    opacity: 0;
  }

  .item-appartment:hover .item-appartment__image .item-appartment__name {
    color: #d4c17f;
  }
}